@import '../../index.scss';

.productCart-wrapper{
    // width: 400px;
    // height: 500px;
    width: 100%;
    position: relative;

    &_img{
        position: relative;
        width: 100%;
        // width: 400px;
        height: 400px;
        overflow: hidden;

        @include tablet{
            height: 250px;
        }

        @include mobile{
            height: 270px;
            @include flex(center, center);

            img{
                max-height: 100%;
            }
        }

        img{
            position: absolute;
            transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            &:nth-child(2){
                transform: scale(0);
                transform-origin: top;
                opacity: 0;
            }
        }

        &:hover img:nth-child(1){
            transform: scale(0);
            opacity: 0;
        }

        &:hover img:nth-child(2){
            transform: scale(1);
            opacity: 1;
        }
    }

    &_info{
        background-color: $bg-slide;
        padding: 10px;

        &_branch{
            text-transform: uppercase;
        }

        &_name{
            text-transform: capitalize;
            margin: 10px 0;
        }

        &_price{

            .old-price{
                text-decoration: line-through;
                color: $text-gray;
                padding-right: 5px;
            }

            .price{
                color: $main-color;
            }
        }
    }

    &_action{
        position: absolute;
        top: 0;
        right: 0;
        @include flex(center, center);
        flex-direction: column;

        .action-wrapper{
            margin: 5px;

            &_icon{
                background-color: $bg-slide;
                min-width: 30px;
                height: 30px;
                cursor: pointer;
                @include flex(center, center);
                margin-left: 10px;
                
                transform: translateX(10px);
                opacity: 0;
                transition: all 0.3s ease-in-out;

                &.active{
                    color: $main-color;
                }
            }

            

        }
    }

    &:hover .action-wrapper_icon{
        transform: translateX(0);
        opacity: 1;
    }
}

.delay-2{
    transition-delay: 0.1s !important;
}

.delay-4{
    transition-delay: 0.2s !important;
}

.delay-6{
    transition-delay: 0.3s !important;
}