@import '../../index.scss';

.orderlist-wrapper{
    margin: 120px 50px 50px 50px;
    min-height: 80vh;

    h1{
        text-align: center;
    }

    table.orderlist-table{
        width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
            thead{
                tr{
                    th{
                        border: 1px solid $main-color;
                        padding: 10px;
                    }
                }
            }
            th {
                 border-bottom: 1px solid $main-color;
             }
            tr{
                td{
                    padding: 10px;
                    border: 1px solid $main-color;
                    text-align: center;
                    &:first-child{
                        width: 50%;
                    }
                        
                }
            }
    }
}