@import '../../index.scss';

.user-list{
    margin: 120px 50px 50px 50px;
    min-height: 80vh;
    h1{
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;
    }
    table.table-container{
        width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            thead{
                tr{
                    th{
                        border: 1px solid $main-color;
                        padding: 10px;
                    }
                }
            }
            th {
                 border-bottom: 1px solid $main-color;
             }
            tr{
                td{
                    padding: 10px;
                    border: 1px solid $main-color;
                    text-align: center;
                    &:first-child{
                        width: 50%;
                    }
                        
                }
            }
    }
}

.btn-link{
    background-color: $main-color;
    color: $main-bg;
    border: 0;
    outline: 0;
    padding: 2px;
    margin: 0 5px;
    cursor: pointer;
    &:hover{
        background-color: $main-color-hover;
    }
}